.main_home{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    .Tsubtitulo_home h1{
        color: #FFF;
    font-family: Netflix Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}